{% extends "dispatch/base.html" %}

{% block title %}Crew Status - SES Dispatch{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">All Crews</h5>
    </div>
    <div class="card-body">
        <div class="row">
            {% for crew in crews %}
            <div class="col-md-6 col-lg-4 mb-3">
                {% include "dispatch/partials/crew_card.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
